[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "nvim-kickstart/.config/nvim-kickstart"]
	path = nvim-kickstart/.config/nvim-kickstart
	url = https://github.com/nvim-lua/kickstart.nvim.git
[submodule "nvim-lazyvim/.config/nvim-lazyvim"]
	path = nvim-lazyvim/.config/nvim-lazyvim
	url = https://github.com/LazyVim/starter
[submodule "nvim-nv/.config/nvim-nv"]
	path = nvim-nv/.config/nvim-nv
	url = https://github.com/NvChad/starter
[submodule "nvim-astro/.config/nvim-astro"]
	path = nvim-astro/.config/nvim-astro
	url = https://github.com/AstroNvim/template
[submodule "nvim/vscode-php-debug"]
	path = nvim/vscode-php-debug
	url = https://github.com/xdebug/vscode-php-debug
