@import "mocha.css"; 

* {
	background: transparent;
	color: @text;
	font-family: CaskaydiaCove Nerd Font;
	font-size: 0.99em;
	border: none;
	box-shadow: none;
	min-height: 0;
}

window#waybar {
	border: 2px solid @mauve;
	border-radius: 0.75em;
	background: alpha(@crust, 0.9);
	/* background-color: @crust; */
}

tooltip {
	background: alpha(@crust, 0.9);
	border: 2px solid @mauve;
	border-radius: 0.75em;
}

#workspaces button {
	padding: 0em 0em;
	margin: 0em 0em;
}

#tray menu {
	border-radius: 0.5em;
	background: alpha(@crust, 0.9);
}

#tray separator {
	background: @text;
}

#tray menuitem:hover {
	background: alpha(@mauve, 0.5);
}

#systemmenu, 
#systemtray, 
#workspaces, 
#stats {
	margin: 0.5em 0;
	background: alpha(@crust, 0.3);
	border: 2px solid @mauve;
	border-radius: 0.75em;
}

#cpu,
#memory,
#disk {
	padding: 0.5em 0.5em;
}

#workspaces {
	margin-left: 0.5em;
	padding-right: 0.5em;
}

#systemmenu {
	margin-left: 0.5em;
	padding: 0.25em;
}

#systemtray {
	margin: 0.5em;
	padding-right: 0.5em;
}

#tray,
#window,
#custom-notification,
#custom-launcher,
#custom-updates,
#custom-notification,
#custom-launcher,
#wireplumber,
#clock,
#network,
#battery {
	padding: 0.25em 0.5em;
}

#battery.critical {
	color: @red;
}

#custom-launchpad{
	padding: 0.1em;
	margin: 0.15em 0.25em;
	border-radius: 0.5em;
}

#custom-overview {
	padding: 0.25em 0.5em;
	margin: 0.15em 0.25em;
	border-radius: 0.5em;
}

#backlight {
	padding: 0.25em 0.25em 0.25em 0.5em;
}

#custom-power {
	padding: 0.25em 0em 0.25em 0.5em;
}

menu {
	border-radius: 0.75em;
	background-color: @crust;
	border: 1px solid @mauve;
}

menuitem {
	border-radius: 0.5em;
	margin: 5px 5px;
	padding: 10px 0px;
}

menuitem:disabled {
	background-color: @surface0;
}

menuitem:hover {
	background-color: @base;
	box-shadow: inset 2px 0px 0 @mauve, inset 0px -2px 0 @mauve, inset 0px 2px 0 @mauve, inset -2px 0px 0 @mauve;
}