@import "mocha.css";

* {
    font-family: "JetBrains Mono NL";
    font-weight: bold;
    font-size: 15px;
}

#custom-notification {
    font-family: "JetBrains Mono NL";
    font-size: 17px;
    color: @yellow;
    margin: 0.1em 0.7em 0px 0px;
}

window#waybar {
    background: @crust;
    /* border: 2px solid @mauve; */
    border-radius: 0px;
}

tooltip {
    background: @crust;
    color: @text;
    font-size: 13px;
    border-radius: 7px;
    border: 2px solid @mauve;
}

#workspaces {
    background: transparent;
    color: @text;
    box-shadow: none;
    text-shadow: none;
    border-radius: 9px;
    transition: 0.2s ease;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
}

#workspaces button {
    background: transparent;
    color: @text;
    box-shadow: none;
    text-shadow: none;
    border: none;
    transition: 0.2s ease;
    padding-left: 2px;
    padding-right: 2px;
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
    color: @text;
    transition: all 0.3s ease;
    padding-left: 2px;
    padding-right: 2px;
    transition: all 0.4s cubic-bezier(0.55, 0.68, 0.48, 1.682);
}

#workspaces button:hover {
    background: none;
    color: @green;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button {
    box-shadow: none;
    text-shadow: none;
    font-size: 4px;
    padding: 0px;
    border-radius: 9px;
    margin-bottom: 3px;
    margin-left: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 0px;
    color: @wb-color;
    animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
    background: @wb-act-bg;
    color: @wb-act-color;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    animation: tb_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
    min-height: 9px;
}

#taskbar button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-color;
    animation: tb_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#tray menu * {
    min-height: 16px;
    color: @text;
}

#tray menu separator {
    min-height: 10px;
}

#tray item {
    margin: 10px;
}

#custom-spacer,
#custom-smallspacer {
    opacity: 0;
}

#custom-mouse {
    font-size: 14px;
    margin-bottom: 6px;
    background: #161320;
}

#custom-power {
    font-size: 18px;
    color: @red;
    margin: 2px 0px 0px 0px;
    padding: 0px 4px;
}

#backlight {
    color: @blue;
    background: rgba(23, 23, 23, 0);
    font-weight: normal;
    font-size: 18px;
    margin: 1px 0.5em 0px 0px;
    padding-left: 0px;
    padding-right: 2px;
}

#bluetooth,
#custom-cliphist {
    color: #e6e7e7;
    background: #161320;
    opacity: 1;
    margin: 4px 0px 4px 0px;
    padding-left: 4px;
    padding-right: 4px;
}

#battery {
    font-weight: normal;
    color: @yellow;
    background: transparent;
    opacity: 1;
    margin: 0px 0.5em 0px 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#idle_inhibitor {
    color: @text;
    background: @bar-bg;
    opacity: 1;
    /* margin: 0px 0.5em 0px 0px; */
    /* margin: 4px 0px 4px 0px; */
    /* padding-left: 4px; */
    /* padding-right: 4px; */
}

#clock {
    color: @text;
    font-family: "JetBrains Mono NL";
    margin: 3px 0px 0px 0px;
}

#cpu {
    font-weight: normal;
    font-size: 22px;
    color: @mauve;
}

#custom-gpuinfo,
#custom-keybindhint,
#language,
#memory {
    font-weight: normal;
    font-size: 22px;
    color: @peach;
}

#cpu,
#memory {
    font-weight: normal;
    font-size: 18px;
    margin: 0px 0px 0px 0px;
    padding: 2px 0px 3px 0px;
}

#mpris {
    color: white;
    animation: repeat;
    animation-name: blink;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #4a4a4a;
    }
}

#network {
    color: @mauve;
    font-weight: normal;
    font-size: 17px;
    margin: 0.1em 0em 0px 0px;
}

#bluetooth {
    color: @blue;
    font-size: 17px;
    margin: 0.1em 0em 0px 0px;
}

#pulseaudio {
    font-weight: normal;
    font-size: 16px;
    color: @red;
    margin: 0px 0.8em 0px 0em;
    padding: 2px 0px 0px 3px;
}

#custom-spotify,
#taskbar,
#custom-theme {
    color: @text;
    background: rgba(23, 23, 23, 0);
    margin: 0px 0.9em 0px 0px;
    padding-left: 1px;
    padding-right: 1px;
}

#custom-menu {
    color: @mauve;
    background: transparent;
    font-weight: bold;
    padding: 0.2em 0.3em 0px 0.1em;
}

#custom-updates,
#custom-wallchange,
#custom-wbar,
#window {
    color: @text;
    font-family: "JetBrains Mono NL";
    padding: 3px 0px 0px 0px;
}

#tray {
    padding-top: 0.1em;
    padding-left: 0px;
    padding-right: 15px;
}

#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#cava,
#upower#headset,
#upower {
    color: @green;
}

#mpris {
    font-weight: bold;
}

#custom-rr_end {
    font-weight: normal;
    color: @text;
    background: rgba(23, 23, 23, 0);
    opacity: 1;
    margin: 0px 0px 0px 0px;
    padding-left: 4px;
    padding-right: 4px;
}

#battery.charging,
#battery.plugged {
    color: @yellow;
}

#battery.critical:not(.charging) {
    color: @red;
}

#taskbar {
    padding: 1px;
}

#custom-r_end {
    border-radius: 0px 7px 7px 0px;
    margin-right: 1px;
    padding-right: 3px;
}

#custom-l_end {
    border-radius: 7px 0px 0px 7px;
    margin-left: 1px;
    padding-left: 3px;
}

#custom-sr_end {
    border-radius: 0px;
    margin-right: 1px;
    padding-right: 3px;
}

#custom-sl_end {
    border-radius: 0px;
    margin-left: 1px;
    padding-left: 3px;
}

#custom-rr_end {
    border-radius: 0px 7px 7px 0px;
    margin-right: 1px;
    padding-right: 3px;
}

#custom-rl_end {
    border-radius: 7px 0px 0px 7px;
    margin-left: 1px;
    padding-left: 3px;
}

/* Style for launchers */
#custom-expand {
    min-width: 25px;
    color: @text;
    font-size: 16px;
}

#group-minimized {
    border-left: solid;
    border-left-width: 0.5;
}

menu * {
    color: @text;
}

menu {
    background: @crust;
    /* border: 2px solid @mauve; */
}

separator {
    background: @crust;
}
